body {
    background-image: url(https://cdn.wallpapersafari.com/63/49/s1ZhlQ.jpg);
}

.container {
    width: 50%;
    margin: auto;
}

header {
    margin-top: 10%;
}

h2 {
    margin: auto;
    margin-top: 15px ;
    padding: 0.25em 0 0.25em 0;
    text-align: center;
    text-transform: uppercase;
    }


table {
    margin: auto;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    border-top: 4px solid rgb(0, 0, 0);
    text-align: left;
    }

table tr :hover {
    color: rgb(255, 123, 0);
    background-color: white;
}

th {
    padding: 20px;
    background-color: rgb(206, 92, 40);
}

td {
    padding: 20px;
    background-color: rgb(255, 247, 240);
}

button{
    margin: auto;
    font-family: sans-serif;
    font-size: 15px;
    background: #cf4522;
    color: rgb(255, 218, 170);
    border-radius: 5px;
    padding: 12px 20px;
    margin-top: 10px;
}

button:hover{
    background-color: rgb(224, 64, 64);
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(36, 0, 0);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgb(255, 175, 122);
}

.active {
    background-color: rgb(224, 104, 34);
}